# Logs
*.log

# Env and local config
.env
.env.*

# Build/cache
data/
.gocache/
.gomodcache/

# OS/editor
.DS_Store
.idea/
.vscode/

# Node leftovers (if any)
node_modules/
dist/

# Docker/infra
.dockerignore
.elasticbeanstalk/
